   
    /* Footer */
    
    #contact .form-control {
    
        border-radius: 0;
    
    }

    
    #contact .form-control:focus {
    
        box-shadow: none;
    
        border-color: var(--c-brand);
    
    }
    
    
    
    
    #contact input.form-control {
    
        height: 44px;
    
    }
    
    
    
    
    /* Footer */
    
    footer {
    
        background-color: var(--c-dark);
        color: white;
        padding-top: 80px;
    
    }
    
    
    
    
    footer h4 {
    
        color: white;
    
        margin-bottom: 24px;
    
    }
    
    
    
    
    footer p,
    
    footer li,
    
    footer li a {
    
        color: rgba(255,255,255, 0.7);
    
    }
    
    
    
    
    footer ul {
    
        list-style: none;
        color: white;
        padding: 0;
    
    }
    
    
    
    
    footer ul li {
    
        margin-top: 6px;
        color: white;
    
    }
    
    
    
    
    .footer-top {
    
        padding-bottom: 40px;
    
        border-bottom: 1px solid rgba(255,255,255, 0.1);
    
    }
    
    
    
    
    .footer-bottom {
    
        padding-top: 40px;
    
        padding-bottom: 40px;
    
    }
    
    
    
    
    .footer-bottom a {
    
        color: var(--c-brand);
    
    }

    :root {

        --c-brand: #f83691;
    
        --c-brand-rgb: 248, 54, 145;
    
        --c-dark: #303050;
    
        --c-body: #636383;
    
        --c-light: #f6f6f6;
    
        --f-main: "Bai Jamjuree", sans-serif;
    
        --transition: all .4s cubic-bezier(.165, .84, .44, 1);
    
        --shadow: 0px 15px 40px rgba(0, 0, 0, 0.1);
    
    }