@import url('https://fonts.googleapis.com/css?family=Fredoka+One');
*{
    margin: 0;
    padding: 0;
}
/* -------------Variables----------- */
:root {
    --color_banner_primero2:#169ff4;
}
/*********************************************/
/*********************************************/
.banner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #ffffff;
}
.banner2{
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
    background-color: #ffffff;
}
.banner img, .banner2 img {
  width: 50%;
  max-width: 150%;
  margin-top: 0rem;
  object-fit: cover;
}
.banner .content, .banner2 .content {
  text-align: center;
}
.banner .content h1, .banner2 .content h1 {
  font-size: 2.5rem;
  margin: 0;
  color: #6A27B5;
  font-family: Arial, sans-serif;
  font-weight: 700;
}
.banner .content p, .banner2 .content p{
  padding: 20px 150px;
  color: #6A27B5;
  font-family: Arial, sans-serif;
  font-size: 1rem;
  font-weight: 600;
}
/* ---------------------------------------- */
/*********************************************/    
.conten{
  background-color: #6a27b5;
}
/* TEXTO DESPUES DEL TITULO NUESTRO VALORES*/
  .valores {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    padding: 50px 0;
}
  .valores1 p {
    max-width: 700px;
    font-size: 1rem;
    margin: 0 auto;
    text-align: center;
    margin-top: 5px;
    color: #ffffff;
    font-family: Arial, sans-serif;
  }
  /* Media queries */
  #titulo {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 60px;
  }
  
  #titulo h1 {
    font-size: 2.5rem;
    font-weight: 400;
    color: #ffffff;
    font-family: Arial, sans-serif;
  }

  .container {
    color: #ffffff;
    margin-bottom: 25px;
    display: flex;
    flex-wrap: wrap;
    position: relative;
    justify-content: space-between;
    align-items: center;
  }

  .container .img {
    margin-top: 40px;
    margin-left: 13%;
    display: flex;
  }

  .container .img img{
    display: flex;
    flex-wrap: wrap;
    position: relative;
    justify-content: space-between;
    align-items: center;
  }
  
  .container .tit {
    display: flex;
    flex-wrap: wrap;
    position: relative;
    justify-content: space-between;
    align-items: center;
    margin-left: 15px;
    flex-basis: 17%;
  }
  
  .container .con{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-basis: 50%;
  }
  .b{
    margin-left: -9px;
  }
  .c{
    margin-left: -5px;
  }
  .e{
    margin-left: -15px;
  }
  .f{
    margin-left: 15px;
  }
  /* .a,.b,.c,.f{
    margin-left: 18px;
  }
  .e{
    margin-left: 5px;
  } */
  .contenedor-imagen {
    background-color: #6a27b5;
    width: 100%;
    height: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .contenedor-texto h2{
    display: flex;
    text-align: center;
    color: #fff;
    font-size: 56px;
    width: 100%;
    font-weight: 600;
    justify-content: center;
    font-family: Arial, sans-serif;
  }
  .contenedor-imagen p{
    padding: 35px ;
    text-align: center;
    color: #fff;
    font-size: 1rem;
    margin: 0;
    font-family: Arial, sans-serif;
  }

/* ------- MEDIA QUERIE ----------- */
@media (max-width:720px) {
  .contenedor-texto{
    margin-bottom: 20px;
  }
  .contenedor-texto h2{
    font-size: 40px;
  }
  .contenedor-imagen {
    height:80%;
  }
  .contenedor-imagen p{
    padding: 0;
    margin: 15px;
    text-align: center;
  }
  .banner img, .banner2 img {
    width: 100%;
  }
  .banner .content, .banner2 .content {
    margin-top: 60px;
    text-align: center;
  }
  .banner .content h1, .banner2 .content h1 {
    margin-top: 2rem;
    margin-bottom: 0;
    margin:auto;
  }
  .banner .content p, .banner2 .content p{
    font-weight: 500;
    padding: 13px 13px 37px;
  }
  .banner, .banner2{
    display: flex;
    flex-direction: column-reverse;
    justify-content: space-between;
  }
  .banner2{
    margin-bottom: 1px;
  }
  #titulo{
    padding: 40px 0 20px;
  }
  .container{
    margin-top: 20px;
  }
  .container .img{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
    margin-left: 0;
  }  
  .container .tit{
    margin-left: 0;
  }
  .a,.b,.c,.e,.f{
    text-align: center;
  }
  .container .img img{
    margin-top: 0;
  }
}
@media (min-width:721px) and (min-width:1100px) {
  .banner .content p, .banner2 .content p{
    font-size: 1rem;
    padding: 10px 60px;
  }
}
