<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
 
    <link rel="stylesheet" href=" ../css/stylos.css">

</head>

<footer class="footer ">
    <div class="conta">
        <div class="footer-col divim" id="divim">
            <a href="index.php"><img src="../img/logo_footer.webp" class="img_fot" loading="lazy" id="d" title="¡Digimedia!" width="100%" height="100%" alt="Img no encontrada.."></a>
        </div>
        <div class="ro">
            
            <div class="footer-col">
                
                <h4 class="h45">Home</h4>
                <ul class="ul">
                    <li><a href="../View/nosotros.php" title="Nosotros">Nosotros</a></li>
                    <li><a href="../View/preguntas.php" title="Preguntas frecuentes">Preguntas frecuentes</a></li>
                    <li><a href="../View/contacto.php" title="Trabaja con nosotros">Trabaja con nosotros</a></li>
                    <li><a href="../View/contacto.php" title="Accesibilidad">Accesibilidad</a></li>
                </ul>

            </div>
            <div class="footer-col">
                <h4 class="h45">Servicios </h4>
                <ul class="ul">
                    <li><a href="../View/ds-web.php" title="Diseño y Desarrollo Web">Diseño y Desarrollo Web</a></li>
                    <li><a href="../View/rd-sociales.php" title="Gestion de redes sociales">Gesti&oacute;n de redes sociales</a></li>
                    <li><a href="../View/marketing-digital.php" title="Marketing y Gestion Digital">Marketing y Gesti&oacute;n Digital</a></li>
                    <li><a href="../View/branding.php" title="Branding y Diseño">Branding y Diseño</a></li>
                </ul>

            </div>
            <div class="footer-col">
                <h4 class="h45">Ayuda</h4>
                <ul class="ul">
                    <li></li><p class="p" title="Solicitar asesora gratuita" >Solicitar asesor&iacute;a gratuita</p></li>
                    <li></li><p class="p" title="Contacto para PYMES">Contacto para PYMES</p></li>
                    <li></li><p class="p" title="Contacto para XXX">Contacto para XXXX</p></li>
                </ul>

            </div>
            <div class="footer-col four">
                
                <div class="social-links">
                    <a href="https://www.instagram.com/digimediamkt/"  target="_blank" title="Instagram" ><img src="../img/ig2.webp" loading="lazy" title="Instagram" alt="Img no encontrada" width="100%" height="100%"></img></a>
                    <a href="https://www.facebook.com/DigiMedia.Marketing1" title="Facebook" target="_blank" ><img src="../img/fb2.webp" loading="lazy" title="Facebook" alt="Img no encontrada" width="100%" height="100%"></img></a>
                    <a href="https://www.tiktok.com/@digimediamkt?lang=es"  title="Tiktok" target="_blank"><img src="../img/in2.webp" loading="lazy" title="Tiktok" alt="Img no encontrada" width="100%" height="100%"></img> </a>
                    <a href="https://pe.linkedin.com/in/digimedia-marketing?trk=public_post_feed-actor-name" title="Linkedin" target="_blank"><img src="../img/tk2.webp" title="Linkedin" alt="Img no encontrada" width="100%" height="100%"></img></a>
                </div>
                <ul class="ul">
                    <li></li><p class="p">T&eacute;rminos del servicio</p></li>
                    <li></li><p class="p">Condiciones del servicio</p></li>
                    <li></li><p class="p">Declaraci&oacute;n de accesibilidad</p></li>
                    <li></li><p class="p">Pol&iacute;tica de privacidad</p></li>
                </ul>

            </div>

        </div>

    </div>
    <div class="text-center colores" style="background-color: rgb(0,155,255);">
        <a data-auto-recognition="true" href="mailto:digi.mediamkt@gmail.com" title="Nuestro Correo" class="wixui-rich-text__text">digi.mediamkt@gmail.com</a>
        &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;Perú - Jr. Paruro 1401, Cercado de Lima, Lima&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; ©AÑO Todos los derechos reservados. Digimedia Marketing® es una marca registrada de XXXX.&nbsp;
    </div>
</footer>

 

 
