<head>
    <!-- Fontawesome -->
 
    <!-- CSS only -->
    <link
        href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
        rel="stylesheet"
        integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65"
        crossorigin="anonymous">
    
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <!-- Stylos Css propios -->
    <link rel="stylesheet" href="../css/header.css">
    <script src="../js/jquery.js"></script>
</head>
<header>
    <!-- NUEVOOO -->
    <div>
        <a class="navbar-brand" href="../index.php">
            <img src="../img/logoblanco.webp"  loading="lazy" title="¡Digimedia!" width="100%" height="100%" class="logoimagen" alt="Logo">
        </a>
    </div>
    <input type="checkbox" id="btn-menu">
    <label for="btn-menu" class="icon-menu"><i class="fa-solid fa-bars"
            style="color: #FFFFFF;"></i></label>
    <nav class="menu">
        <ul>
            <li><a href="../index.php" title="Home">Home</a></li>
            <li class="submenu"><a href="#" title="Servicios" >Servicios<i
                        class="fa-solid fa-chevron-down" style="color: #FFFFFF;"></i></a>
                <ul>
                    <li><a href="ds-web.php" title="Diseño y Desarrollo Web">Diseño y Desarrollo Web</a></li>
                    <li><a href="rd-sociales.php" title="Gestión de Redes Sociales">Gestión de Redes Sociales</a></li>
                    <li><a href="marketing-digital.php" title="Marketing y Gestión">Marketing y Gestión
                            Digital</a></li>
                    <li><a href="branding.php">Branding y Diseño</a></li>
                </ul>
            </li>
            <li><a href="nosotros.php" title="Nosotros">Nosotros</a></li>
            <li class="submenu"><a href="#" title="Saber mas..">More<i
                        class="fa-solid fa-chevron-down" style="color: #FFFFFF;"></i></a>
                <ul>
                    <li><a href="contacto.php" title="Contáctanos">Contáctanos</a></li>
                    <li><a href="preguntas.php" title="FAQ">FAQ</a></li>
                </ul>
            </li>
            <li><a href="../admin/usuarios/index.php" title="Login">Login</a></li>
        </ul>
    </nav>
</header>
<script src="../js/main.js"></script>